body {
  background-color: var(--color-neutral-900);
  color: var(--color-light);
  font-size: var(--size-font);
  margin: 0;
  padding: 0;
}

.cloneable {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333333a5;
  line-height: 0.2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: transparent;
  opacity: 0.8;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.logo:hover {
  cursor: pointer;
}

.nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #fffcfc;
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
}

.nav a:hover {
  color: #FF6A3B;
}

@media screen and (max-width: 550px) {
  .header {
    flex-direction: column;
    padding: 10px 20px;
  }
  .nav a {
    display: inline-block;
  }
  
}


@media screen and (max-width: 400px) {
  .header {
    flex-direction: column;
  }
  .nav a {
    margin: 5px 10px;
    font-size: 16px;
  }
}



.parallax__fade {
  --color-dark-rgb: 0, 0, 0;
  background: linear-gradient(to top,
      rgba(var(--color-dark-rgb), 1) 0%,
      rgba(var(--color-dark-rgb), 0.738) 19%,
      rgba(var(--color-dark-rgb), 0.541) 34%,
      rgba(var(--color-dark-rgb), 0.382) 47%,
      rgba(var(--color-dark-rgb), 0.278) 56.5%,
      rgba(var(--color-dark-rgb), 0.194) 65%,
      rgba(var(--color-dark-rgb), 0.126) 73%,
      rgba(var(--color-dark-rgb), 0.075) 80.2%,
      rgba(var(--color-dark-rgb), 0.042) 86.1%,
      rgba(var(--color-dark-rgb), 0.021) 91%,
      rgba(var(--color-dark-rgb), 0.008) 95.2%,
      rgba(var(--color-dark-rgb), 0.002) 98.2%,
      transparent 100%);
}

.osmo-icon-svg {
  width: 8em;
  position: relative;
}

.parallax__header {
  z-index: 2;
  padding: var(--section-padding) var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.parallax {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.parallax__content {
  padding: var(--section-padding) var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.cover {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__visuals {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__placeholder {
  z-index: 0;
  opacity: 0;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__layers {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.cover-copy {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__fade {
  z-index: 30;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.parallax__black-line-overflow {
  z-index: 20;
  background-color: var(--color-black);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.parallax__title {
  pointer-events: auto;
  color: white;
  text-align: center;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0.1em;
  margin-right: 0.075em;
  font-family: PP Neue Corp Wide, sans-serif;
  font-size: 17vw;
  font-weight: 800;
  line-height: 1;
  position: relative;
}

.parallax__radial-gradient {
  z-index: 10;
  background-image: radial-gradient(circle farthest-corner at 50% 50%,
      transparent,
      var(--color-black));
  opacity: 0.5;
  pointer-events: none;
  mix-blend-mode: multiply;
  position: fixed;
  inset: 0;
}

.parallax__layer-title {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__layer-img {
  pointer-events: none;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 117.5%;
  position: absolute;
  top: -17.5%;
  left: 0;
}

.parallax__layer-img.is-third {
  top: -20%;
}

@font-face {
  font-family: "PP Neue Corp Wide";
  src: url("https://cdn.prod.website-files.com/671752cd4027f01b1b8f1c7f/6717e399d30a606fed425914_PPNeueCorp-WideUltrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.section {
  padding-top: 60px;
  padding-bottom: 100px;
  text-align: center;
  background: #000;
  color: #f8f8f8;
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}

.section-title {
  color: #FF6A3B;
  margin-bottom: 20px;
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

#about {
  background-image: url("rm274batch2-baifernn-02.jpg");
  padding-left: 50px;
  padding-right: 50px;
  color: #FF6A3B;
  font-size: 25px;
}

#about .section-title {
  color: #FF6A3B;
  font-size: 40px;
}

#about h2 {
  color: white;
  font-size: 1.5rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.feature {
  background: #ded8cb;
  color: black;
  padding: 20px;
  border-radius: 8px;
  border-color: white;
  border-width: thick;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
}
#comingsoon{
  background-color: #40a1d1;
}
.feature:hover {
  background-color: #FF6A3B;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.15);
}

.feature h3 {
  font-family: "PP Neue Corp Wide";
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

#contact {
  color: black;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ded8cb;
}

.transform-scale {
  transition: transform 0.5s ease-in-out;
}

.transform-scale:hover {
  transform: scale(1.15);
}


.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
}
